body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.marker {
    display: block;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


#chart {
  position:relative;
  height: 300px;
  width: 300px;
  top:15%;
}

.rowtop{
text-align: center;

}

#map {
  position:relative;
  top:0;
  bottom:0;
  width:100%;
  height: 600px;
  margin-left: 20px;
  margin-right:auto;

}

.map-section{
  padding-top: 20px;
}

.app-section{
  margin-top : 50px;
  margin-bottom: 50px;

}

#root{
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:100px;
}

.search-bar{
margin-top : 20px;
margin-bottom: 20px;

}

@media only screen and (max-width: 768px) {
  #map-container {
    width: 90%; 
  }
}

nav.topnav-container {
  display: flex;
  justify-content: space-between;
  background: #2aabd2;
}

nav.topnav-container > div {
  padding: 15px 20px;
  padding-top: 25px;
}

nav.topnav-container > div.brand {
  margin-left: 50px;
  padding-top: 15px;
}


div.nav-elements > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-right: 154px;
}

div.nav-elements {
  padding-top: 25px;
}
div.brand {
  text-align: center;
}

div.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}


