body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.marker {
    display: block;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


#chart {
  position:relative;
  height: 300px;
  width: 300px;
  top:15%;
}

.rowtop{
text-align: center;

}

#map {
  position:relative;
  top:0;
  bottom:0;
  width:100%;
  height: 600px;
  margin-left: 20px;
  margin-right:auto;

}

.map-section{
  padding-top: 20px;
}

.app-section{
  margin-top : 50px;
  margin-bottom: 50px;

}

#root{
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:100px;
}

.search-bar{
margin-top : 20px;
margin-bottom: 20px;

}

@media only screen and (max-width: 768px) {
  #map-container {
    width: 90%; 
  }
}

nav.topnav-container {
  display: flex;
  justify-content: space-between;
  /* background: #2aabd2; */
  background: rgba(151,237,247,1);
  background: -moz-linear-gradient(left, rgba(151,237,247,1) 0%, rgba(144,198,240,1) 47%, rgba(42,171,210,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(151,237,247,1)), color-stop(47%, rgba(144,198,240,1)), color-stop(100%, rgba(42,171,210,1)));
  background: -webkit-linear-gradient(left, rgba(151,237,247,1) 0%, rgba(144,198,240,1) 47%, rgba(42,171,210,1) 100%);
  background: -o-linear-gradient(left, rgba(151,237,247,1) 0%, rgba(144,198,240,1) 47%, rgba(42,171,210,1) 100%);
  background: -ms-linear-gradient(left, rgba(151,237,247,1) 0%, rgba(144,198,240,1) 47%, rgba(42,171,210,1) 100%);
  background: linear-gradient(to right, rgba(151,237,247,1) 0%, rgba(144,198,240,1) 47%, rgba(42,171,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97edf7', endColorstr='#2aabd2', GradientType=1 );
}

nav.topnav-container > div {
  padding: 10px 20px;
  padding-top: 25px;
}

nav.topnav-container > div.brand {
  margin-left: 50px;
  padding-top: 15px;
}


div.nav-elements > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-right: 154px;
}

div.nav-elements {
  padding-top: 25px;
}
div.brand {
  text-align: center;
}

div.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

/* nav.bottomnav-container {
  display: flex;
  justify-content: space-around;
} */

/* div.footer { */
  /* display: flex;
  justify-content: space-between; */
/* } */

div.bottom-elements > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;

}

div.disclaimer {
  text-align: center;
}